body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

/* Right section styles */

.right-section {
    padding-left: 90px;
    padding-right: 220px;
    background-color: #FFFFFF;
   
}
.about-me-profession {
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 100px;
}

#personName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    margin-top: 30px;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

.about-me-section {
    padding-top: 15px;
    padding-right: 15px;
    width: 400px;
}

.about-me-section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects-sections {
    margin: 40px 0 0 0;
}

.block-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.projects-sections ol {
    padding-left: 18px;
}

ol li, bracket {
    color: #000;
    font-weight: 700;   
}

.projects-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 1px;
}

.projects-item a {
    color: #595959;
}

.section-work-experience {
    margin-top: 50px;
}

.work-experience-position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.work-experience-company {
    color: #FB6D3A;
}

.work-experience-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.management-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.section-education {
    margin-top: 43px;
} 

.education-company {
margin-top: 12px;
}
    
.education-position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    color: #000000;
    
}

.education-company {
    color: #FB6D3A;
    margin-top: 16px;
}

.management-position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 11px;
}

.line-break {
    color: #000;
}



.word-experience-duties {
    padding-left: 18px;
}

.word-experience-duties {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Sidebar styles*/

.sidebar-section {
    background-color: #1E2939;
    width: 370px;
}

.sidebar-section img {
    margin-top: 40px;
}

.sidebar-title {  
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.sidebar-contact {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    color: #FFFFFF;
}

.sidebar-contact {
    margin-left: 40px;
}

.tech-skills, .soft-skills {
    margin-left: 40px;
}

.sidebar-contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #76787b;
    margin-right: 10px;
    margin-left: 40px;
}

.sidebar-contact-value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #76787b;
}

.sidebar-list {
    color: brown;
    padding-left: 20px;
    margin-left: 5px;
}

.sidebar-list span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #76787b;
}

.sidebar-title {
    color: #FFFFFF;
    margin-left: 5px;
}

